<h2>Registration Summary</h2>

<h4>Personal Details</h4>
<ul>
  <li><b>Name:</b>  {{personal.name}}</li>
  <li><b>Email:</b> {{personal.email}}</li>
  <li><b>Phone:</b> {{personal.phone}}</li>
</ul>

<h4 class="mt-4">Course Details</h4>
<ul>
  <li><b>Course:</b>     {{course.courseName}}</li>
  <li><b>Department:</b> {{course.department}}</li>
  <li><b>Semester:</b>   {{course.semester}}</li>
</ul>

<a href="/personal" class="btn btn-outline-primary mt-4">➕ New Registration</a>
